@page
@model ContabilidadMRC.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Inicio de Productos";
}

<h1>Inicio de Productos</h1>

<p>
    <a asp-page="Create">Insertar Producto</a>
</p>
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ExpiredAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].TypeProduct)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiredAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeProduct.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductID">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
