@page
@model ContabilidadMRC.Pages.Bills.IndexModel

@{
    ViewData["Title"] = "Inicio Facturas";
}

<h1>Inicio de Facturacion</h1>

<p>
    <a asp-page="Create">Insertar Factura</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bill[0].CodeBill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill[0].Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bill) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodeBill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.IdCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.IdCard)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BillID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.BillID">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.BillID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
