@page
@model ContabilidadMRC.Pages.DetailBills.DeleteModel

@{
    ViewData["Title"] = "Eliminar Detalle de Factura";
}

<h1>Eliminar</h1>

<h3>Esta seguro de querer Eliminar este Detalle de Factura?</h3>
<div>
    <h4>Detalle de Factura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DetailBill.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetailBill.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DetailBill.Bill)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetailBill.Bill.CodeBill)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DetailBill.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetailBill.Product.Code)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DetailBill.DetailBillID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver a Inicio Detalles de Facturas</a>
    </form>
</div>
